body {
    margin-top: 0;
}

.titel {
    text-align: center;
}

.ToDoBox {
    /* Gebruik van flexbox*/
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin-bottom: 10px;
    width: 800px;
}

.verwijderen {
    width: 100px;
    margin: 5px 5px 5px 5px;
}

p{
    margin-left: 5px;
}

/* animatie css wanneer hover text en box groter  */ 

@keyframes moving {
    from { transform: translateX(0) scale(1) rotate(0deg); }
    to { transform: translatey(500px) scale(1.5) rotate(360deg); }
  }
  /*basis css animatie #18*/
  .titel:hover {
    animation: moving 2.5s backwards;
}